[submodule "Game/vendor/spdlog"]
	path = Game/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Game/vendor/debugbreak"]
	path = Game/vendor/debugbreak
	url = https://github.com/scottt/debugbreak
[submodule "Game/vendor/glfw"]
	path = Game/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Game/vendor/imgui"]
	path = Game/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Game/vendor/lodepng"]
	path = Game/vendor/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "Game/vendor/Box2D"]
	path = Game/vendor/Box2D
	url = https://github.com/erincatto/box2d.git
[submodule "Game/vendor/entt"]
	path = Game/vendor/entt
	url = https://github.com/skypjack/entt.git
