[submodule "Game/vendor/spdlog"]
	path = Game/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Game/vendor/imgui"]
	path = Game/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Game/vendor/debugbreak"]
	path = Game/vendor/debugbreak
	url = https://github.com/scottt/debugbreak
