name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  buildLinux:
    name: build-linux
    runs-on: ubuntu-latest
    
    env:
      LD_LIBRARY_PATH: ${{ github.workspace }}/Game/vendor/fmodstudioapi20206linux/api/core/lib/x86_64

    steps:
    - uses: actions/checkout@v2
      
    - name: Install Packages
      run: |
        sudo apt update -qq
        sudo apt install -y git build-essential g++ make zip unzip
        sudo apt-get install -y --no-install-recommends libx11-dev libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev libxext-dev libxfixes-dev libgl1-mesa-dev

    - name: Fetch git submodules
      run: git submodule update --init --recursive
    
    - name: premake5
      run: ./premake5 gmake2

    - name: make Debug x64
      run: make config=debug_x64

    - name: make Dist x64
      run: make config=dist_x64
      
    - name: zip release
      run: cp Editor/bin/Dist-linux-x86_64/Editor/Editor Game/EditorRun && zip -r Editor.zip Editor/assets Editor/EditorRun
      
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        title: "Dist Build"
        prerelease: false
        draft: false
        files: |
          *.zip

  buildWindows:
    name: build-windows
    runs-on: windows-latest

    env:
      LD_LIBRARY_PATH: ${{ github.workspace }}/Game/vendor/fmodstudioapi20206windows/api/core/lib/x64

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
          submodules: recursive

    - name: Fetch git submodules
      run: git submodule update --init --recursive

    - name: Running premake5
      run: .\premake5.exe vs2019

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Build app for Debug x64
      run: msbuild Game.sln -t:rebuild -verbosity:normal -property:Configuration=Debug /p:Platform=x64

    - name: Build app for Distribution x64
      run: msbuild Game.sln -t:rebuild -verbosity:normal -property:Configuration=Dist /p:Platform=x64
